@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    scroll-padding-top: 1rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --main-color:#035df8;
    --text-color: #ffffff;
    --bg-color:#fff;
}
.img{
    width: 100%;
}
section{
    padding: 4rem 0 2rem;
}
body{
    color: var(#000);

}
.container{
    max-width: 1068px;
    margin-left: auto;
    margin-right: auto;
}
header{
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    z-index: 1000;
    background-color: black;
    
}
#menu-icon{
    font-size: 24px;
    cursor: pointer;
    color: var(--text-color);
    display: none;
}
.logo{
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--text-color);
}
.logo span{
    color: var(--main-color);
}
.navbar{
    display: flex;
    column-gap: 2rem;
}
.navbar a{
    color: var(--text-color);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
}
.navbar a:hover, 
.navbar .active{
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}
#search-icon{
    font-size: 24px;
    cursor: pointer;
    color: #F5F5F5;
}
.search-box{
    position: absolute;
    top: 110%;
    right: 0;
    left: 0;
    background: var(--bg-color);
    box-shadow: 4px 4px 20px rgb(15 54 55 / 10%);
    border: 1px solid var(--main-color);
    border-radius: 0.5rem;
    clip-path: circle(0% at 100% 0%);
}
.search-box .active{
    clip-path: circle(144% at 100% 0%);
}
.search-box input{
    width: 100%;
    padding: 20px;
    border: none;
    outline: none;
    background: transparent;
    font-size: 1rem;
}

.home{
    max-width: 1300px;
    margin: auto;
    width: 100%;
    min-height: 640px;
    display: flex;
    background-image: url(assets/HomeBR\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
}
.home-text{
    padding-left: 130px;
     color: var(--text-color);
}
.home-text h1{
    font-size: 2.4rem;
}
.home-text span{
    color:var(--main-color);
}
.home-text p{
    font-size: 0.938rem;
    font-weight: 300;
    margin: 0.5rem 0 1.2rem;
}
.btn{
    padding: 10px 22px;
    background: var(--main-color);
    color: var(--bg-color);
    font-weight: 400;
}
.btn:hover{
    background: #ADB5BD;
}
.heading{
    text-align: center;
}
.heading span{
    font-weight: 500;
    color: var(--main-color);
}
.heading p{
    font-size: 0.938rem;
    font-weight: 300;
}
.modelos-container{
    
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
}
.modelos-container .box{
    flex: 1 1 17rem;
    position: relative;
   padding: 20px;
   display: flex;
   flex-direction: column;
   background: #F5F5F5;
   border-radius: 0.5rem;
}
.modelos-container .box img{
    width: 100%;
    height: 400px;
    object-fit: contain;
    object-position: center;
    margin-bottom: 1rem;
}
.modelos-container .box img:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
.modelos-container .box h3{
    font-size: 1.1rem;
    font-weight: 600;
}
.modelos-container .box span{
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--main-color);
}
.modelos-container .box .bx{
    color: var(--main-color);
    margin: 0.8rem 0;
}
.modelos-container .box .btn{
    max-width: 120px;
}
.modelos-container .box .details{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 1.8rem;
    right: 1rem;
    font-size: 1rem;
    color: #000000;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #f2f2f2;
}
tr:hover {
    background-color: #f5f5f5;
}
.table h1{
    font-size: 1.7rem;
    text-align: center;
}
.about{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.5rem;
}           
.about img{
    flex: 1 1 21rem;
}
.about-text{
    flex: 1 1 21rem;
}
.about-text span{
    font-weight: 500;
    color: var(--main-color);
}
.about-text h2{
    font-size: 1.7rem;
}
.about-text p{
    font-size: 0.938rem;
    margin: 0.5rem 0 1.4rem;
}
.noticias-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
    width: 80%;
    max-width: 1200px;
  }
  
  .noticias-container .box {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border: 1px solid #050505;
    border-radius: 5px;
    padding: 10px;
    width: calc(33.333% - 2rem); /* Calcula a largura para caber 3 boxes com gap */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  .noticias-container .box img {
    width: 100%;
    height: 200px; /* Ajustado para se adequar melhor ao layout */
    object-fit: contain;
  }
  .noticias-container .box:hover {
    background: #F5F5F5;
  }
  .noticias-container .box span {
    font-size: 0.8rem;
    color: var(--main-color);
  }
  .noticias-container h3 {
    font-size: 1.2rem;
    margin: 10px 0;
  }
  .noticias-container .box p {
    font-size: 0.938rem;
    margin: 4px 0;
  }
  .noticias-container .box .noticias-btn {
    display: flex;
    align-items: center;
    column-gap: 4px;
    color: #000000;
    margin-top: auto; /* Empurra o botão para o fim do container */
  }
  
  .noticias-container .box .noticias-btn .bx {  
    font-size: 20px;
  }
  .noticias-container .box .noticias-btn:hover {
    color: #035df8;
    column-gap: 0.7rem;
    transition: 0.4s;
}
  section .contato{
    padding: 80px 4%;
}
  .interface h3{
    font-size: 2.4rem;
    text-align: center;
}
.interface span{
    color:var(--main-color);
}
form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
form input, form textarea{
    width: 100%;
    background-color: #F5F5F5;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #020202;
    font-size: 18px;
}
form textarea{
    resize: none;
    max-height: 200px;
}
form .btn-enviar{
    margin-top: 20px;
    text-align: center;
}
form .btn-enviar input{
    width: 120px;
    background-color: #035df8;
    color: #F5F5F5;
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
  }
.footer{
    background-color: #000000;
    color: #f6f6f6;
    border-top: 2px solid var(--main-color);
}
.footer-container{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
.footer-container .logo{
    color: var(--bg-color);
    margin-bottom: 1rem;
}
.footer-container .footer-box{
    display: flex;
    flex-direction: column;
}
.social{
    display: flex;
    align-items: center;
}
.social a{
    font-size: 24px;
    color: var(--bg-color);
    margin-right: 1rem;
}
.social a:hover{
    color: var(--main-color);
}
.footer-box h3{
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: 1rem;
}
.footer-box a, .footer-box p{
    color: #ffffff;
    margin-bottom: 10px;
}
.footer-box a:hover{
    color: var(--main-color);
}

.copyright{
    padding: 20px;
    text-align: center;
    color: var(--bg-color);
    background:#000;
}
@media screen and (max-width: 992px) {
    .nav .navbar {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        background-color: black;
        transition: 0.3s;
        z-index: 1000;
        clip-path: circle(0% at 100% 0%);
    }

    .nav .navbar.active {
        display: flex;
        clip-path: circle(144% at 100% 0%);
    }

    .nav .navbar li {
        text-align: center;
        padding: 15px 0;
        margin: auto;
        width: 100%;
    }

    .nav .navbar a {
        font-size: 1.5rem;
        color: var(--text-color);
    }

    #menu-icon {
        display: block;
    }
}

@media screen and (max-width: 768px) {
    .home-text h1 {
        font-size: 2rem;
    }

    .home-text p {
        font-size: 0.9rem;
    }

    .modelos .heading h1 {
        font-size: 2rem;
    }

    .modelos .heading h2 {
        font-size: 1.3rem;
    }

    .noticias .heading h1 {
        font-size: 2rem;
    }

    .noticias .heading h2 {
        font-size: 1.3rem;
    }

    .about-text h1 {
        font-size: 1.8rem;
    }

    .about-text h2 {
        font-size: 1.3rem;
    }

    .about-text p {
        font-size: 0.9rem;
    }
}